.pdf-page {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  width: 21cm;
  height: 29.68cm;
  overflow: hidden;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  page-break-inside: avoid;
  margin: 0;
}

.pdf-header {
  background-color: #333;
  padding: 10px;
  color: #efefef;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.pdf-header > h2 {
  font-weight: 100;
  font-size: 1.25rem;
}

.pdf-header > h1 {
  font-weight: 200;
  font-size: 2.25rem;
}

.pdf-header > h2,
.pdf-header > h1,
ul {
  margin: 0;
}

.pdf-body {
  flex: 8;
  display: flex;
}

.left-column {
  flex: 1;
  padding: 1rem;
  text-align: right;
  font-size: 1rem;
}

.left-column > div > h2 {
  font-size: 1.5rem;
  margin: 0;
}

.left-column > div > p {
  margin: 0.5rem 0;
}

.main-body {
  flex: 3;
  padding: 1rem;
  background-color: #fafafa;
}

.skills-section > ul > li {
  list-style: none;
  margin: 0.5rem 0 1rem 0;
}

.left-section {
  margin: 0.5rem 0 3.5rem 0;
}

.main-body > div > h2 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.project-title {
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.project-bullet {
  margin-bottom: 0.25rem;
}
